html {
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
  font-family: Helvetica;
}

/* header CSS */
.small-menu {
  display: none;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

nav div {
  display: flex;
  align-items: center;
}

ul li {
  display: inline;
  padding: 1rem 2rem;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav span {
  margin: 1rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.main-banner h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.main-banner {
  margin-top: 10rem;
  margin-right: -2rem;
  width: auto;
  background-color: white;
  padding: 1.5rem 5rem;
}

/* supporting CSS */
.item {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 6rem;
  height: 8rem;
  width: 5rem;
}

.item img {
  width: 3.5rem;
}

.item .img.truck-icon {
  width: 5rem;
}

.supporting {
  display: flex;
  justify-content: center;

}
/* info CSS */
.title {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: Helvetica;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

/* Footer CSS */
footer {
  background-color: azure;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

footer img {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 1rem;
  line-height: 1rem;
}

footer span {
  display: inline;
}


/* Media Queries */

/* Tablet */

@media only  screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    height: 22rem;
    padding-top: 0;
  }

  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: .75rem 4rem;
  }

  .main-banner h1 {
    font-size: 1.33rem;
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }

  ul.small-menu {
    display: block;
  }

  .container {
    width: 100%;
  }

  div span {
    display: none;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  .main-banner  {
    margin-top: 9rem;
  }

  .main-banner h1 {
    font-size: 1rem;
    text-align: center;
  }

  .supporting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.77rem;
  }

  .item {
    margin: 1.54rem;
  }

  .item div {
    font-size: .77rem;
    margin: auto;
  }

  .info .title {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .info {
    width: auto;
    margin-bottom: 4rem;
  }

  .info p {
    padding: 1rem;
    font-size: .77rem;
  }
}
