html {
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
}

/* header CSS */
.small-menu {
  display: none;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  border: 2px solid red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

nav div {
  display: flex;
  align-items: center;
}

ul li {
  display: inline;
  padding: 1rem 2rem;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

h1 {
  background-color: white;
}

.main-banner h1 {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.main-banner {
  position: relative;
  margin-top: 10rem;
  text-align: right;
}

/* supporting CSS */
.item {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 6rem;
}

.item img {
  width: 3.5rem;
}

.item ruler img {
  width: 5rem;
}

section.supporting {
  display: flex;

}
/* info CSS */
.title {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: Helvetica;
  padding: .5rem 1.25rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

/* Footer CSS */
footer {
  background-color: azure;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

footer img {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 1rem;
  line-height: 1rem;
}

footer span {
  display: inline;
}
